/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400');

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

html {
    background-color: white;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: -0.01em;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0.7em;
    padding-left: 0;
    margin: 0;
}

.wrap-all {
    max-width: 960px;
    margin: 0 auto;
}

.site-logo {
    display: none;
}

.site-logo-text{
    font-family: "Verdana";
    text-transform: uppercase;
}

.site-logo-text > a {
    color: black;
    text-decoration: none;
}

.site-logo-text-icon > img {
    vertical-align: middle;
    padding: 1.3em;
}

.region-header {
    background-color: #ccc;
    border: 1px solid #aaa;
    height: 5em;
}
.region-header > div {
    float: left;
}

.has-sidebar-left.region-main {
    margin-left: 200px;
}

.outer-wrap {
    clear: left;
}

.my-navbar {
    list-style-type: none;
    padding: 0.7em;
    padding-left: 0;
    margin: 0;
}

.my-navbar li {
    float: left;
}

.my-navbar li > a {
    padding: 1em;
    display: inline-block;
    color: #333;
    text-decoration: none;
}

.my-navbar li > a:hover {
    text-decoration: underline;
}

.my-navbar li > .rm-submenu-button {
    display: none;
}

.outer-wrap-flash {
    display: none;
}

.right {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

figcaption > p {
    font-style: italic;
    margin-top: 0;
}

.footer-column {
    float: left;
    width: 33%;
    padding: 0 1em;
    border: 1px #ccc solid;
    margin: 0.3em;
    box-sizing: border-box;
}

.footer-column:hover,
.byline:hover {
    box-shadow: 3px 3px 3px #bbb;
}

.footer-column:first-child,
.footer-column:last-child {
    margin: 0.3em 0;
}

.flashmessage {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 1em;
    box-sizing: border-box;
}

.flashmessage.info {
    background-color: rgb(125, 230, 252);
}

.flashmessage > p {
    display: inline;
}

.region-breadcrumb li,
.region-breadcrumb a {
    list-style: none;
    text-decoration: none;
    font-style: italic;
    float: left;
    padding-right: 0.5em;
}

div.region-sidebar-left {
    float: left;
}

.next-previous > div {
    display: inline-block;
}

.next-previous:first-of-type {
    display: none;
}

.next {
    float: right;
}

.previous {
    float: left;
}

/* Styles for the byline */

.byline {
    box-sizing: border-box;
    padding: 1em;
    border: 1px solid #ccc;
    clear: both;
}

.byline img {
    float: left;
    margin-right: 1em;
}

.byline h4 {
    margin: 0;
}

.byline::after {
    content: "";
    display: block;
    clear:both;
}
